*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right,#0C164D, #190B22);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#solar-system {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#solar-system:hover {
    box-shadow:rgba(0, 0, 0, 0.96);
    cursor: pointer;
}

.sun {
height: 500px;
width: 250px;
background-color: #FFD029;
border-bottom-right-radius: 250px;
border-top-right-radius: 250px;
}

.mercury {
border-radius: 50%;
height: 14px;
width: 14px;
background-color: #888888;
}

.venus {
    border-radius: 50%;
    height: 26px;
    width: 26px;
    background-color: #E7CDCD;
}

.earth{
    border-radius: 50%;
    height: 28px;
    width: 28px;
    background-color: rgb(26, 26, 172);
}

.mars{
    border-radius: 50%;
    height: 14px;
    width: 14px;
    background-color: #EF5F5F;
}

.jupiter{
    border-radius: 50%;
    height: 188px;
    width: 188px;
    background-color: #E29468;
}

.saturn {
    border-radius: 50%;
    height: 144px;
    width: 144px;
    background-color: #C7AA72;
}

.neptun {
    border-radius: 50%;
    height: 66px;
    width: 66px;
    background-color: #C9D4F1;
}

.pluto{
    border-radius: 50%;
    height: 66px;
    width: 66px;
    background-color: #7A91A7;
}


/* Overlay */
#overlay {
    color: white;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    transition: all 0.3s ease;
    z-index: 1;
    flex-direction: column;
    padding: 7rem;
  }
  
  #overlay.show {
    transform: translateY(0);
    background-image: linear-gradient(to right,#0C164D, #190B22);
  }
  
  #overlay h4 {
    margin-bottom: 0.3rem;
    font-size: 1.1rem;
  }
  
  content {
    max-width: 40rem;
  }
  
  content h2 {
    font-size: 3rem;
    align-self: flex-start;
  }
  
  content h4 {
    font-size: 2rem;
    align-self: flex-start;
    color: #a68931;
  }
  
  #overlay p:nth-child(3) {
    padding: 1.5rem 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.349);
  }
  
  #info-container {
    /* border: 1px dotted blue; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.349);
  }
  
  #info-container p {
    padding-bottom: 1rem;
  }
  
  #moons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: 2px dotted yellow; */
    min-height: 3rem;
  }
  
  #moons p {
    overflow-y: auto;
    width: 20rem;
  }
  
  #moons button {
    background-color: black;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 2px white;
    width: 10rem;
    margin-left: auto;
    border-radius: 3px;
  }
  
  #moons button:hover {
    box-shadow: 0 0 3px white;
    text-shadow: 0 0 3px white;
    background-color: rgb(10, 10, 10);
  }